.navbar{
  justify-content: left;
  height: 80px;
  background-color: #ffb366;
}

.accueil{
  margin: 15px;
  font-size: 18px;
  color: black;
  float: none ;
}
.menu{
  margin: 15px;
  font-size: 18px;
  color: black;
  float: none ;
}
.contact{
  margin: 15px;
  font-size: 18px;
  color: black;
  float: none ;
}
.btn{
  font-style: oblique;
  float: right;
  margin-left: 75%;
}
