<div class="container">
  <h1 class="display-4 text-center"><strong>New Meng Yuan</strong></h1>
  <h2 class="display-10 text-center">
    Bienvenue sur le site de votre restaurant
  </h2>
  <h4 class="display-10 text-center">Spécialité chinoise et japonaise</h4>

  <p class="display-10">
    Venez découvrir les plats du traiteur chinois (Nouilles, riz cantonais,
    boeuf aux oignons...) préparés avec soin tous les jours, ainsi que les plats
    japonais (Sushi, maki, yakitori...) préparés sur commande avec du poisson
    frais du matin.<br />
  </p>
  <p class="text-center">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Afficher le menu
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit ameterat. Duis
      semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
      Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras
      vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit
      odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum.
      Maecenas adipiscing ante non diam sodales hendrerit. Ut velit mauris,
      egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit
      pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam,
      nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula.
      Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet
      pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem
      ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non
      mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam
      faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae
      erat. Proin feugiat, augue non elementum posuere, metus purus iaculis
      lectus, et tristique ligula justo vitae magna. Aliquam convallis
      sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula
      massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem
      at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis
      sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse
      cursus rutrum augue. Nulla tincidunt tincidunt mi. Curabitur iaculis,
      lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies
      lacus lorem varius purus. Curabitur eu ame<br />
      <h1 class="text-center">Menu</h1>

      <table class="table table-striped">
        <!--<thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.gender }}</td>
          </tr>
        </tbody> -->
        <thead>
          <tr>
            <th>Menu</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let menu of menus">
            <td>{{ menu.name }}</td>
            <td>{{ menu.description }}</td>
            <td>{{ menu.price }}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <!-- <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
    Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
    sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
    semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie,
    enim est eleifend mi, non fermentum diam nisl sit ameterat. Duis semper.
    Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
    Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras
    vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit
    odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
    Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas
    adipiscing ante non diam sodales hendrerit. Ut velit mauris, egestas sed,
    gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit pulvinar.
    Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis
    ullamcorper nibh, in tempus sapien eros vitae ligula. Pellentesque rhoncus
    nunc et augue. Integer id felis. Curabitur aliquet pellentesque diam.
    Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit amet,
    consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula.
    Nulla et sapien. Integer tortor tellus, aliquam faucibus, convallis id,
    congue eu, quam. Mauris ullamcorper felis vitae erat. Proin feugiat, augue
    non elementum posuere, metus purus iaculis lectus, et tristique ligula justo
    vitae magna. Aliquam convallis sollicitudin purus. Praesent aliquam, enim at
    fermentum mollis, ligula massa adipiscing nisl, ac euismod nibh nisl eu
    lectus. Fusce vulputate sem at sapien. Vivamus leo. Aliquam euismod libero
    eu enim. Nulla nec felis sed leo placerat imperdiet. Aenean suscipit nulla
    in justo. Suspendisse cursus rutrum augue. Nulla tincidunt tincidunt mi.
    Curabitur iaculis, lorem vel rhoncus faucibus, felis magna fermentum augue,
    et ultricies lacus lorem varius purus. Curabitur eu ame
  </p> -->
</div>
