<div class="container">
  <h1 class="display-4 text-center"><strong>New Meng Yuan</strong></h1>
  <h2 class="display-10 text-center">
    Bienvenue sur le site de votre restaurant
  </h2>
  <h4 class="display-10 text-center">Spécialités chinoises et japonaises</h4>

  <p class="display-10">
    Venez découvrir les plats du traiteur chinois (Nouilles, riz cantonais,
    boeuf aux oignons...) préparés avec soin tous les jours, ainsi que les plats
    japonais (Sushi, maki, yakitori...) préparés sur commande avec du poisson
    frais du matin.<br />
  </p>
  <p class="text-center">
    <button
      class="btn btn-primary"
      type="button"
      data-toggle="collapse"
      data-target="#collapseExample"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Afficher le menu
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
      Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
      sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
      semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
      molestie, enim est eleifend mi, non fermentum diam nisl sit ameterat. Duis
      semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim.
      Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras
      vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit
      odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum
      ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
      Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum.
      Maecenas adipiscing ante non diam sodales hendrerit. Ut velit mauris,
      egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit
      pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam,
      nunc turpis ullamcorper nibh, in tempus sapien eros vitae ligula.
      Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur aliquet
      pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem
      ipsum dolor sit amet, consectetuer adipiscing elit. Morbi vel erat non
      mauris convallis vehicula. Nulla et sapien. Integer tortor tellus, aliquam
      faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis vitae
      erat. Proin feugiat, augue non elementum posuere, metus purus iaculis
      lectus, et tristique ligula justo vitae magna. Aliquam convallis
      sollicitudin purus. Praesent aliquam, enim at fermentum mollis, ligula
      massa adipiscing nisl, ac euismod nibh nisl eu lectus. Fusce vulputate sem
      at sapien. Vivamus leo. Aliquam euismod libero eu enim. Nulla nec felis
      sed leo placerat imperdiet. Aenean suscipit nulla in justo. Suspendisse
      cursus rutrum augue. Nulla tincidunt tincidunt mi. Curabitur iaculis,
      lorem vel rhoncus faucibus, felis magna fermentum augue, et ultricies
      lacus lorem varius purus. Curabitur eu ame<br />
      <h1 class="text-center">Menu</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Menu Midi</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let menu_m of menu_midi">
            <td>{{ menu_m.name }}</td>
            <td>{{ menu_m.description }}</td>
            <td>{{ menu_m.price }}</td>
          </tr>
        </tbody>

        <thead>
          <tr>
            <th>Menu Brochette</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let menu_b of menu_brochette">
            <td>{{ menu_b.name }}</td>
            <td>{{ menu_b.description }}</td>
            <td>{{ menu_b.price }}</td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <h1 class="font-weight-light text-center mt-4 mb-0">Galerie d'images</h1>

  <hr class="mt-2 mb-5" />

  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry1.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry1.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry2.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry2.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry3.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry3.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry4.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry4.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry5.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry5.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry6.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry6.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry7.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry7.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry8.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry8.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry9.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry9.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry10.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry10.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry11.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry11.jpg"
          alt=""
        />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="../../assets/img/imgalry12.jpg" class="d-block mb-4 h-100">
        <img
          class="img-fluid img-thumbnail"
          src="../../assets/img/imgalry12.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
<!-- /.container -->
