<div class ="container">
  <div class="card-groups">
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 10rem; height: 15rem;">
        <img class="card-img-top" src="../../assets/img/menu.jpg">
        <div class="card-body">
          <a href="#" class="btn btn-primary">Voir nos menus</a>
        </div>
      </div>
      <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../../assets/img/telephone.jpg">
        <div class="card-body">
          <a href="#" class="btn btn-primary">Nous contacter</a>
        </div>
      </div>
    </div>
  </div>
</div>
