<!-- Bannière -->
<div class="jumbotron text-center">
  <div class="titre">
    <h1 class="display-4 text-dark">New Meng Yuan</h1>
    <h2 class="text-dark">Bienvenue sur le site de votre restaurant</h2>
    <h4 class="display-10 text-dark">Spécialité chinoise et japonaise</h4>
  </div>
  <!--<p class="lead mt-4">
      <a
        class="btn btn-success btn-lg"
        href="https://deliveroo.fr"
        target="_blank"
        role="button">
        <strong>Commandez en ligne</strong>
      </a>
    </p>-->
</div>
