.jumbotron {
background-image:
url('../../assets/img/maki2.png');
background-size: cover;
min-height: 350px;
max-width : 100%;
/*height: auto;*/
display: block;
margin-top: 50px;
}
.titre{
  /*background-color: wheat;*/
  color: black;
  display: block;
  margin: 0 auto;
}


