<div class="container">
  <div class="card-groups">
    <div class="col d-flex justify-content-center">
      <div class="card" style="width: 19rem">
        <h5 class="card-title text-center">Horaire d'ouverture</h5>
        <p class="card-text">Du Lundi au Samedi : 11h30 - 22h30</p>
        <p class="card-text">Dimanche : 17h - 22h30</p>
      </div>
      <div class="card" style="width: 19rem">
        <h5 class="card-title text-center">Contact</h5>
      <p class="card-text">Adresse : 30 Rue Ordener 75018 Paris</p>
      <p class="card-text">Téléphone : 0000000000</p>
      </div>
    </div>
  </div>
</div>
